/* define styles to the container */
.tema-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}


.tema-container.claro {
    background-color: #f0f0f0;
    color: #333;
}


.tema-container.oscuro {
    background-color: #333;
    color: #f0f0f0;
}


.boton {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.tema-container.claro .boton {
    background-color: black;
    color: white;
}


.tema-container.claro .boton:hover {
    background-color: #555;
    transform: scale(1.05);
}


.tema-container.claro .boton:active {
    transform: scale(0.95);
}


.tema-container.oscuro .boton {
    background-color: white;
    color: black;
}


.tema-container.oscuro .boton:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.tema-container.oscuro .boton:active {
    transform: scale(0.95);
}